img{
    display: flex;
    height: 65px;
    width: 80px;
    margin-left: 275px;
    margin-top: 4px;
    }
    header{
    margin-top:-30px ;
    height: 70px;
    width: 100%;
    /* display: inline; */
    background-color:#047bd5 ;
    
    }
    .headerLogo {
    margin-left: -1600px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex: 1;
    }
    .search
    {
    
    position: relative;
    width: 1100px;
    margin:-25px;
    margin-left:-150px;
    }
    .search label
    {
    height: 50px;
    position: relative;
    width: 100%;
    }
    .search label input
    {
        width: 50%;
        height: 42px;
        margin-left: 500px;
        margin-top: -60px;
        border-radius: 0px;
        /* padding: 15px -70px; */
        padding-left: 20px;
        outline: none;
    border: 1px soid rgba(0, 0, 0,0.2);
    }
    .search label .fa
    {
    position: absolute;
    margin-left: 1000px;
    margin-top: -32px;
    left: 20px;
    color: rgb(37, 127, 163);
    top: 4px;
    }
    h2{
    margin-left: 20;
    padding: 30;
    }
  
    span{
    
    color: white;
    margin-left: 10%;
    margin-top: 200px;
    }
    .icon{
        margin-left: 60%;
        margin-top: -78px;
        color: aliceblue;
        word-spacing: 30px;
    }
    .icon:i{
        text-size-adjust: 10px;
    }
    
    button{
    margin-left: 1100px;
    margin-top: -20px;
    height: 35px;
    width: 100px;
    background-color: white;
    color:rgb(12, 12, 12);
    border-radius: 0px;
    }
    section{
    margin-left: 115px;
    height: 900px;
    width: 85%;
    background-color:gray;
    
    }
    .viewall{
    background-color: #047bd5;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-top: -80px;
    margin-left: 1400px;;
    }
    h3{
    margin-left: 20;
    padding: 30;
    }
    article{
    padding-top: -50px;
    margin-left: 20px;
    height: 220px;
    width: 95%;
    text-align: justify;
    background-color: rgb(195, 172, 201);
    transform: translatex(25px);
    }
    
    h1{
    margin-left: 100;
    padding: 30;
    text-align: center;
    }
    p{
    text-align: center;
    font-size:16px ;
    transform: translate(20px);
    }
    footer{
    height: 110px;
    width: 100%;
    background-color:rgb(103, 173, 230);
    }
    .fut{
    font-size: medium;
    text-align: center;
    }
    /* Box */
    * {
    box-sizing: border-box;
    }
    
    body {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
    float: left;
    width: 25%;
    padding: 0 10px;
    }
    
    /* Remove extra left and right margins, due to padding in columns */
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Style the counter cards */
    .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /*this adds the "card" effect*/
    padding: 16px;
    height: 300px;
    text-align: center;
    background-color: white;
    }
    .img-fluid{
    height: 150px;
    width: 200px;
    margin-left: 50px;
    }
    .container1{
    width: 100%;
    height: 50px;
    background-color: lightslategray;
    }