img{
    display: flex;
    height: 65px;
    width: 80px;
    margin-left: 200px;
}
header{
    margin-top:-30px ;
    height: 70px;
    width: 100%;
    /* display: inline; */
    background-color:#047bd5 ;
    
}
.headerLogo {
    margin-left: -1600px;   
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex: 1;
}
.search
{
    
    position: relative;
    width: 1100px;
    margin:-25px;
    margin-left:-150px;
}
.search label
{
    
    position: relative;
    width: 100%;
}
.search label input
{
  width: 50%;
  height: 42px;
  margin-left: 450px;
  margin-top: -40px;
  border-radius: 0px;
  padding: 5px 10px;
  /* padding-left: 400px; */
  outline: none;
  border: 1px soid rgba(0, 0, 0,0.2);
}
.search label .fa
{
 position: absolute;
 margin-left: 950px;
 margin-top: -15px;
 left: 20px;
 color: rgb(37, 127, 163);
 top: 4px;
}
h2{
    margin-left: 20;
    padding: 30;
}
nav{
    width: 100%;
}
 nav ul{
     padding: 20px;
    display: flex;
    /* letter-spacing: 20; */
    justify-content: space-between ;
} */
 nav ul li{
    display: inline;
    margin: 5px;
} 
span{

    color: white;
    margin-left: 70%;
    margin-top: -500px;
}


button{
    margin-left: 1100px;
    margin-top: -3px;
    height: 35px;
    width: 120px;
      background-color: white;
      color:rgb(12, 12, 12);
      border-radius: 0px;
}
section{
    margin-left: 115px;
    height: 750px;
    width: 85%;
    background-color:white;

}
.viewall{
            margin-right: 10px;
}
 h3{
    margin-left: 20;
    padding: 30;
} 
article{
    padding-top: -50px;
    margin-left: 20px;
    height: 220px;
    width: 95%;
    text-align: justify;
    background-color: rgb(195, 172, 201);
    transform: translatex(25px);
}

h1{
    margin-left: 100;
    padding: 30;
    text-align: center;
} 
p{
    text-align: justify;
    font-size:12px ;
    transform: translate(20px);
}
footer{
    height: 110px;
    width: 100%;
    background-color:rgb(103, 173, 230);
}
.fut{
    font-size: medium;
    text-align: center;
}
/* Box */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /*this adds the "card" effect*/
    padding: 16px; 
    height: 300px;
    text-align: center;
    background-color: white;
  }
  .img-fluid{
    height: 150px;
    width: 200px;
    margin-left: 50px;    
  }
  